::ng-deep .homepage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/mariobackgroundcolor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.league-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #90bffd;
  border-radius: 20px;
  width: 45%;
  min-height: 60%;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.league-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  width: 80%;
  text-align: center;
  padding-bottom: 1rem;
}

.intro-container {
  width: 80%;
  margin-top: 1rem;
}

.intro-graph {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  margin-bottom: 1.5rem;
  color: #1f1f1f;
}