<button *ngIf="!isSettingsOpen" class="settings-btn" (click)="toggleSettings()">League Settings</button>

<div class="popup" *ngIf="isSettingsOpen">
    <div class="popup-content">
        <div class="settings-header">
            <h2>League Settings</h2>
            <button class="close-button" (click)="toggleSettings()">X</button>
        </div>


        <div>
            <h3>Set Roster Limit</h3>
            <div class="form-group">
                <input type="number" [(ngModel)]="rosterLimit" placeholder="Enter roster limit" />
                <button (click)="updateRosterLimit(rosterLimit)" [disabled]="reseting">Save</button>
            </div>

        </div>

        <div>
            <h3>Set Protection Limit</h3>
            <div class="form-group">
                <input type="number" [(ngModel)]="protectionLimit" placeholder="Enter protection limit" />
                <button (click)="updateProtectionLimit(protectionLimit)" [disabled]="reseting">Save</button>
            </div>

        </div>

        <div class="setting-section">
            <h3>Reset League</h3>
            <div class="form-group">
                <button (click)="resetLeague()" [disabled]="reseting">Reset League</button>
            </div>
        </div>


        <div class="setting-section">
            <h3>Delete League</h3>
            <div class="form-group">
                <button class="yes-btn" (click)="toggleDelete()" [disabled]="reseting">Delete League</button>
            </div>
        </div>

    </div>

</div>

<div class="deleting" *ngIf="(deleting$ | async)">

    <div class="delete-container">
    <div>
        ARE YOU SURE YOU WANT TO DELETE?

    </div>

    <div class="buttons">
        <button class="yes-btn" (click)="deleteLeague()">
            YES

        </button>

        <button class="no-btn" (click)="toggleDelete()">
            NO

        </button>

    </div>
    </div>

</div>
