<div class="schedule-container" *ngIf="isLoading">
    <div class="schedule-header">
        <h1>Schedule</h1>
    </div>

    <div class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</div>




<ng-container *ngIf="schedule$ | async as schedule">
    <ng-container *ngIf="userId$ | async as userId">
        <ng-container *ngIf="ownerId$ | async as ownerId">

            <div class="schedule-container" *ngIf="!isLoading && isOwner">
                <div class="schedule-header">
                    <div class="title">
                        <h1>Schedule Settings</h1>

                    </div>

                    <div class="schedule-settings">

                        <div class="setting">
                            <p>Total Weeks: </p>
                            <select [(ngModel)]="totalWeeks" class="setting-select">
                                <option
                                    *ngFor="let num of ['4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16']"
                                    [value]="num">{{ num }}</option>
                            </select>
                        </div>

                        <div class="setting">
                            <p>How many players in playoffs: </p>
                            <select [(ngModel)]="number_of_playoffs" class="setting-select">
                                <option *ngFor="let number of ['4', '6']" [value]="number">{{ number }}</option>
                            </select>
                        </div>


                    </div>
                    <p>DO NOT GENERATE SCHEDULE UNTIL ALL MEMBERS HAVE JOINED</p>

                    <div class="schedule-body">

                        <button (click)="generateSchedule(totalWeeks, number_of_playoffs)" class="generate-btn"
                            [disabled]="!(canDraft$ | async)">
                            Generate Schedule
                        </button>
                    </div>
                </div>






            </div>

        </ng-container>
    </ng-container>
</ng-container>