.indiv-players {
    margin-bottom: 20px;
}

.player-info {
    
   
    background-color: rgb(255, 255, 255);
    color: black;
    
    


}

.player-header {
     
     color: black;
     padding-right: 10px;
     font-size: 1.2em;
}