
::ng-deep .leaguecreate-container {
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  font-family: 'Arial', sans-serif;
  overflow-y: hidden;

}


.roster-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.leaguecreate-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.league-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: auto;
  width: 60%;
  min-width: 320px; 
  background-color: #90bffd;
  border-radius: 20px;
  
}

.league-title  {
    font-size: 2.5em;
    padding: 1rem;
    border-bottom: black solid 2px;
    width: 80%;
    text-align: center;
}



.leaguejoin-header {
    font-size: 1.5em;
    
    width: 80%;
    text-align: center;
    text-overflow: none;
}

.roster-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  width: 60%;
  gap: .5rem;
  border: black solid 1px;
  border-radius: 10px;
  padding: 2.3rem;
  margin-bottom: 2rem;
}





.league-divider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;

  
}

.league-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  width: 60%;
  gap: .5rem;
  border: black solid 1px;
  border-radius: 10px;
  padding: 2.3rem;
  margin-bottom: 2rem;
  

}


.form-control {
  width: 40%;
  padding: 0.2rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-label {
  font-size: 1.2em;
  
}

#create-button {
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#create-button:hover {
  background-color: #0056b3;
}

.create-btn {
  margin-bottom: 10px;
  border-radius: 10px;

  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #0270e7;
}

.create-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}