<div class="standings-container">
    <div class="header">
        <h1>Standings</h1>
    </div>

    <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="teams" *ngIf="!isLoading">
        
    
        
        <div class="team-standings" *ngFor="let team of standings">
            <div class="green" *ngIf="positive(team)">
                <div class="team-name">
                    <p>{{team.username}}</p>
                </div>
                
                
                <div class="team-record" >
                    <p>Record: {{team.wins}}-{{team.losses}}</p>
                </div>
                <div class="team-image">
                    <img [src]="'/assets/images/' + team.team_image + '-MSS.png'" alt="{{team.username}}'s team image">           
                </div>

            </div>

            <div class="red" *ngIf="!positive(team)">
                <div class="team-name">
                    <p>{{team.username}}</p>
                </div>
                
                
                <div class="team-record" >
                    <p>Record: {{team.wins}}-{{team.losses}}</p>
                </div>
                <div class="team-image">
                    <img [src]="'/assets/images/' + team.team_image + '-MSS.png'" alt="{{team.username}}'s team image">           
                </div>

            </div>

            
            </div>

       



    </div>
</div>