<div class="roster-container">
    <div class="not_started" *ngIf="draftStatus === 'not_started'">
      <h2>Draft has not started yet. Free agents will be available once the draft is completed.</h2>
    </div>

  <div class="my-leagues" *ngIf="draftStatus === 'completed'">



    

    <mat-card *ngFor="let p of players" class="indiv-players">
      <mat-accordion>
        <mat-expansion-panel class="player-info">
          <mat-expansion-panel-header class="player-header">
            <mat-panel-title class="player-header">
              {{ p?.characterName || 'Unknown' }}
            </mat-panel-title>
            <mat-content class="player-header">
              Class: {{ p?.characterClass || 'N/A' }}
              <button (click)="addToRoster(p.id)" class="position-btn add-btn">Add to Roster</button>
            </mat-content>
          </mat-expansion-panel-header>

          <div>
            <p>Pitching Arm: {{ p?.pitchingArm || 'N/A' }}</p>
            <p>Batting Arm: {{ p?.battingArm || 'N/A' }}</p>
            <p>Character Class: {{ p?.characterClass || 'N/A' }}</p>
            <p>Weight: {{ p?.weight || 'N/A' }}</p>
            <p>Captain: {{ p?.captain ? 'Yes' : 'No' }}</p>
            <p>Star Pitch: {{ p?.starPitch || 'N/A' }}</p>
          </div>

          

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>

  </div>

</div>