.loading-container {
    display: flex;
    justify-content: center;
    
    align-items: top;
    width: 97%;
    height: 97%;
    padding: 20px;
   
  
}

.not_started {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    height: 100%;
}

.indiv-players {
    margin-bottom: 20px;
}

.player-info {
    
   
    background-color: rgb(255, 255, 255);
    color: black;
    
    


}

.player-header {
     
     color: black;
     padding-right: 10px;
     font-size: 1.2em;
}

.my-leagues {
    height: 700px;
    overflow-y: auto;
    
}
  
.roster-container {
  
  overflow-y: auto;
}