<div class="draft-container">

    <div *ngIf="draftData$ | async as draftData" class="draft-content">
        <div *ngIf="draftData.status === 'not_started'">
            <div class="content">
            <h3>DRAFT SETTINGS</h3>
            </div>

            <div class="draft-settings">

                                <div class="draft-order-section">
                                    
                                <p>Draft Order:</p>
                                <div class="draft-order" cdkDropList (cdkDropListDropped)="drop($event)">
                                    <div class="draft-team" *ngFor="let memberId of pickOrder$ | async" cdkDrag>
                                        {{ memberMap[memberId] }}
                                      </div>
                                </div>
                                </div>

                                <div class="settings">
                                    <p>Time per pick: {{ draftData.time_per_pick }} seconds</p>
                                    <select class="select" [(ngModel)]="draftData.time_per_pick">
                                        <option *ngFor="let time of [60, 90, 120]" [value]="time">{{ time }}</option>
                                    </select>
                                </div>

                                <div class="settings">
                                    <p>Draft Type: {{ draftData.draft_type }}</p>
                                    <select class="select" [(ngModel)]="draftData.draft_type">
                                        <option *ngFor="let type of ['Snake', 'Linear']" [value]="type">{{ type }}</option>
                                    </select>
                                </div>

                                <div class="settings">
                                    
                                    <p>Number of rounds: </p>
                                    <select class="select" [(ngModel)]="draftData.number_of_rounds">
                                        <option *ngFor="let round of [9, 10, 11, 12, 13]" [value]="round">{{ round }}</option>
                                    </select>
                               

                                    

                                </div>

                                <div class="content">

                                
                                <button class="start-draft-btn" (click)="startDraft()">Start Draft</button>
                                </div>
            </div>

            
    </div>
    <div *ngIf="draftData.status === 'in_progress'">
        <div class="draft-board">
            <div class="draft-header">
                <h3>DRAFT BOARD</h3>

                <div class="draft-info">
                <p>Time Remaining: {{ draftData.timer_seconds }} seconds</p>
                <ng-container *ngIf="(pickOrder$ | async) as pickOrder">
                    <p>
                      Current Pick:
                      {{ memberMap[pickOrder[draftData.current_pick_index]] }}
                    </p>
                  </ng-container>
                <p>Round: {{ draftData.current_round }}</p>
                </div>

            </div>


                <div class="draft-table">
                    
                    
                </div>
            


            

        </div>
       

        
    </div>

    

</div>