
<button *ngIf="!isSidebarOpen" class="menu-button" (click)="toggleSidebar()">☰</button>


<aside class="sidebar">
    <div class="sidebar-header">
        <h2>Ultimate Fantasy</h2>
        <button class="close-button" (click)="toggleSidebar()">X</button>

    </div>
    <nav>
        <ul>
        <li><a class="sidebar-btn" routerLink="/homepage">Home</a></li>
        <li><a class="sidebar-btn" routerLink="/create-league">Create League</a></li>
        <li><a class="sidebar-btn" routerLink="/my-leagues">My Leagues</a></li>
       
        
        </ul>
    </nav>


    <div class="sidebar-footer" *ngIf="!(sidebarService.isOwner$ | async)">
        <button class="sidebar-btn" (click)="sidebarService.leaveLeague()">Leave League</button>
    </div>



</aside>