<div class="loading-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="schedule-update-container" *ngIf="!isLoading">
    <div class="header">
        <h1>Home Team</h1>
        <h1>Edit Game</h1>
        <h1>Away Team</h1>
    </div>

    <div class="game-info">
        <div class="edit-game">
            <div class="team-roster">
                <select [(ngModel)]="game.home_team" (ngModelChange)="onHomeTeamChange($event)">
                    <option *ngFor="let member of members" [value]="member.profiles.username">{{
                        member.profiles.username }}</option>
                </select>
                <div class="roster-players" *ngIf="getHomeRoster()">
                    <div class="roster-player" *ngFor="let rp of getHomeRoster().roster_players">
                        <p>{{ rp.character_id.character_name }}</p>
                        <p>{{ rp.position }}</p>
                        <p>{{ rp.batting_order ?? 'N/A' }}</p>
                    </div>
                </div>
            </div>

            <div class="vs-section">
                <input class="score-input" type="number" [(ngModel)]="game.home_score">
                <span>VS</span>
                <input class="score-input" type="number" [(ngModel)]="game.away_score">
            </div>

            <div class="team-roster">
                <select [(ngModel)]="game.away_team" (ngModelChange)="onAwayTeamChange($event)">
                    <option *ngFor="let member of members" [value]="member.profiles.username">{{
                        member.profiles.username }}</option>
                </select>
                <div class="roster-players" *ngIf="getAwayRoster()">
                    <div class="roster-player" *ngFor="let rp of getAwayRoster().roster_players">
                        <p>{{ rp.character_id.character_name }}</p>
                        <p>{{ rp.position }}</p>
                        <p>{{ rp.batting_order ?? 'N/A' }}</p>

                    </div>
                </div>
            </div>
        </div>

        <p *ngIf="game.home_score === null || game.away_score === null">
            Please enter a score for both teams to update the game.
        </p>
        <button (click)="updateGame()" class="update-btn"
            [disabled]="game.home_score === null || game.away_score === null || game.home_score < 0 || game.away_score < 0 || game.home_score > 25 || game.away_score > 25">Update Game</button>
    </div>
</div>





