.roster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}

.roster-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
  
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;
    margin-top: 30px;
}

.my-leagues {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 95%;
    border-radius: 10px;
    width: 80%;
    background-color: white;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none; 
    
}

.my-leagues-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 20px;

  gap: 30px;

  margin: 20px;
}

.indiv-leagues {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    gap: 50px;
    margin-top: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;

}

.roster-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 80%;
    height: 80%;
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
}

.roster-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.roster-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 1.1rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    gap: 1rem;

}

.roster-input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.team-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 90%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.team-picture-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;

  gap: 1rem;
}

.roster-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.team-picture-preview {
  
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.create-btn {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #0056b3;
}


