<div class="roster-container" *ngIf="!isLoading; else loading">
    <div class="my-leagues" *ngIf="rosters.length > 0">



        <div class="indiv-leagues" *ngFor="let roster of rosters" (click)="onRosterClick(roster)">
            <h2>{{ roster.teamName }}</h2>
            <p>General Manager: {{ roster.owner_username }}</p>
            <p>Stadium: Peaches Ice Garden</p>

        </div>

    </div>
    <div class="roster-create" *ngIf="canCreateRoster">
        <h3>Create New Roster</h3>
        <input type="text" placeholder="Team Name" [(ngModel)]="newRosterName" />
        <button (click)="createRoster()">Create</button>
    </div>
</div>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
</ng-template>

