<ng-container *ngIf="!isLoading; else loading">

<div class="roster-container" *ngIf="!canCreateRoster">


    <div class="my-leagues">

        <div class="my-leagues-header">
            <h3>Rosters</h3>
            <button (click)="trades()" class="create-btn">Trade Requests</button>
        </div>



        <div class="indiv-leagues" *ngFor="let roster of rosters" (click)="onRosterClick(roster)">
            <h2>{{ roster.teamName }}</h2>
            <p>General Manager: {{ roster.owner_username }}</p>
            <img  [src]='"/assets/images/" + roster.team_image' alt="Selected team" />
        </div>

    </div>

</div>

<div class="roster-create-container" *ngIf="canCreateRoster">


    <div class="roster-create">
        
        <h3>Create New Roster</h3>

        <div class="roster-content">

            <div class="roster-setting">
                <label for="teamName">Team Name:</label>
                <input class="roster-input" type="text" placeholder="Team Name" [(ngModel)]="newRosterName" />

            </div>
            
            <div class="team-picture">
                <div class="team-picture-header">
                    
                <label for="teamPicture">Choose a team picture:</label>
                <select class="roster-select" id="teamPicture" [(ngModel)]="selectedTeamPicture">
                    <option *ngFor="let entry of teamPictures | keyvalue" [value]="entry.value">
                        {{ entry.key }}
                    </option>
                </select>

                </div>
                <div class="team-picture-preview">
                <img *ngIf="selectedTeamPicture" [src]='"/assets/images/" + selectedTeamPicture' alt="Selected team" />
                </div>
            </div>
    
            <button class="create-btn" (click)="createRoster()" [disabled]="!selectedTeamPicture || !newRosterName">Create</button>

        </div>

    </div>
</div>
</ng-container>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
</ng-template>

