::ng-deep .leaguepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
 
}

.leaguepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 20px;
  height: 80%;
  height: auto;
  padding: 20px;
  background-color: #90bffd;
  border-radius: 10px;
}

.league-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 20px;
  width: 100%;
  border-bottom: black solid 1px;
  
  
  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 20px;
  
  
  
}

.league-description-header {
  font-size: 1.5rem;
  color: #555;
  margin-left: 1rem;
}
.league-description {
  font-size: 1.2rem;
  color: #313131;
  
}

.league-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  
  
}

.tab-nav {
  display: flex;
  flex-direction: row;
  
  margin-top: 20px;
}

.route-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  width: 150px;
  height: 35px;
 
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
  
  cursor: pointer;
  text-decoration: none;
  
  
  transition: background-color 0.3s ease;
  

}

.route-button.active,
.route-button[aria-current="page"] {
  background-color: #eeeeee;
  color: #222;
  font-weight: bold;
  z-index: 1;
}

.route-button:not(.active):hover {
  background-color: #d1d1d1;
}

.tab-content {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #6caafc;
  border-radius: 10px;
}




